@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer base {
  h1 {
    @apply text-4xl font-semibold;
  }

  p {
    @apply text-base;
  }
}

.logo {
  @apply h-12 p-1;
}

.transition-class {
  @apply ease-out duration-200;
}
