@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  p {
    @apply text-base;
  }
}

.logo {
  @apply h-12 p-1;
}

.transition-class {
  @apply ease-out duration-200;
}

.button-gradient {
  @apply bg-gradient-to-tl from-black  via-slate-600  to-black  text-white px-4 py-1 rounded-xl;
}

.border-gradient {
  @apply border bg-gradient-to-tl from-[#3E7BFA]  to-[#6600CC]  text-white px-4 py-1 rounded-xl;
}
